

$baseFontSize: 75;

@function px2rem($px){
  @return $px/$baseFontSize * 1rem;
}

@mixin px2rem($name,$px){
    #{$name}:$px/$baseFontSize * 1rem;
}

@mixin bg-image($url){
  background-image: url($url + "@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    background-image: url($url + "@3x.png")
  }
}

@mixin ellipsis($line){
  @if $line==1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @else {
    word-break: break-all;
    overflow: hidden;
    white-space:normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:$line;
    /* autoprefixer: off */
    -webkit-box-orient: vertical
    /* autoprefixer: on */
  }
}