@import "mixin";
//颜色定义规范
$color-background:#F0EFF5;
$color-background-d:#fff;
$color-background-cover:rgba(0,0,0,.5);

$color-text:#242424;
$color-text-d:#929292;
$color-text-l:#c7c7c7;
$color-text-ll:#656565;

$color-theme:#01C6FD;

$color-line:#eee;
$color-line-d:#e5e5e5;


//字体定义规范
$text-size-big:'';
$text-size:26px;
$text-size-small:14px;

$tab-height:80px;